@model IEnumerable<CarRental_Prince.Models.CustomerFeedback>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "CustomerFeedbacks")';return false;">Create</button></p>

<div class="tile">
    <h3 class="tile-title">Feedback</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
               
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Feedback)
                    </th>
                    <th></th>
                </tr>
               
            </thead>
            <tbody>
                 

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Feedback)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

            </tbody>
        </table>
    </div>
</div>
